<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h4>Available opportunties:</h4>
    <ul>
      <% jobs.map(job => { %>
        <li><%= job.job_title %></li>
        <li><%= job.company_name %></li>
        <br>
      <% }) %>
    </ul>
  </body>
</html>
